@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@{
    var environment = _configuration.GetValue<string>("Environment");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@*@ViewData[environment]*@ @environment - Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LicentaApp.styles.css" asp-append-version="true" />
</head>
<body id="body">
    <div id="header" class="container-fluid">
        @*style="min-height: 50px;"*@
        <div class="container" >
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/Home">
                    <img src="~/images/musicNote.svg" height="75" width="75" />
                </a>
                <ul id="categories" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Albums" asp-action="Index">Albums </a>
                        @*asp-route-name=""*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>
                    </li>
                    @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Feedback" asp-action="Index">Feeback</a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">Reviews</a>
                    </li>
                    @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Song" asp-action="Index">Songs</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                    </li>*@
                </ul>

                <div class="text-end">
                    @*<button type="button" class="btn btn-outline-primary me-2">Login</button>
                    <button type="button" class="btn btn-primary">Sign-up</button>*@
                    <a class="btn btn-outline-primary me-2" asp-area="" asp-controller="Operations" asp-action="Create">Sign in</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Operations" asp-action="Create">Sign up</a>

                </div>
            </header>
        </div>
    </div>
    <div id="content" class="container-fluid">
        @*style="min-height:80vh;"*@
        <div class="container" >
            <main role="main" class="">
        @RenderBody()
            </main>
        </div>
    </div>
    <div id="footer" class="container-fluid">
       <div class="container" >
            <footer class="py-3 my-4 border-top">
                <div class="d-flex justify-content-between bd-highlight">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="text-muted">Paraschiv Matei-Theodor</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span>
                            <a href="https://github.com/mateiparaschiv/Licenta.git" id="link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" id="git_icon">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                        </span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="text-muted">
                            <a class="nav-link p-0" asp-controller="Feedback" asp-action="Index" id="link">
                                <i>
                                    Feedback
                                </i>
                            </a>
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>