@model UserModel
@*<h1 class="bg-info text-white">Create User</h1>*@
@*<div asp-validation-summary="All" class="text-danger"></div>*@

@if (ViewBag.Message != null)
{
    <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="container my-3 text-center">
    <div class="row d-flex bd-example justify-content-center">
        <div class="col-4">
            @*action="/Operations/Create"*@
            @*asp-route-returnUrl="@Model.ReturnUrl"*@
            <form id="registerForm" method="post" novalidate="novalidate">
                <h class="display-4">Create a new account.</h>
                <hr>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    @*<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"
                    type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                    data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">*@


                    <input asp-for="UserName" class="form-control" autocomplete="" aria-required="true" placeholder="username" />
                    <label asp-for="UserName">Username</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>
                <div class="form-floating mb-3">
                    @*<input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"
                    type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                    data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">*@



                    <input asp-for="Email" class="form-control" autocomplete="" aria-required="true" placeholder="name@example.com"
                           type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                           data-val-required="The Email field is required." />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    @*<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="password" type="password" data-val="true"
                    data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100"
                    data-val-length-min="6" data-val-required="The Password field is required." id="Input_Password" maxlength="100"
                    name="Input.Password">*@



                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"
                           type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long."
                           data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    @*<input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="password" type="password" data-val="true"
                    data-val-equalto="The password and confirmation password do not match."
                    data-val-equalto-other="*.Password" id="Input_ConfirmPassword" name="Input.ConfirmPassword">*@


                    @*<input asp-for="Password" class="form-control" />*@
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"
                           type="password" data-val="true" data-val-equalto="The password and confirmation password do not match." 
                           data-val-equalto-other="*.Password" />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Sign up</button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Lc6T7_BnN1MidZgFPaHGVej7xj_gRyfK38SFSVHv0pixBbmh0Dtthq4yWdBULMQnptO_sNv_b4d290rR9wy6QJHMduHZFTcmLmvt-8XdcM2H7FjO9xPMUyXAiYTM6QXDp5XDjvajedPt8jAgGLBfGk">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }