html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*#categories {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

#image_col{
    width :300px;
}

#link{
    color:#212529;
}
