html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/

/*test*/
/*#categories {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}*/

#image_col {
    width: 324px;
    height: 324px;
}

#link {
    color: #212529;
    text-decoration: none;
    /*width: max-content;*/
}
#link:hover {
    color: #0d6efd;
}

#link:active {
    color: #6c757d;
}

#index_text {
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

#album_col {
    max-width: 250px;
    min-height: 250px;
}

#artist-album_image {
    max-width: 324px;
    min-height: 324px;
}
#genre-album_image {
    max-height: 200px;
}

#home_image{
    width:450px;
    height:450px;
}

#carousel_item{
    max-width:450px;
}

#sort_buttons {
    color:#6c757d;
}
#sort_buttons:hover {
    color: #0d6efd;
}
#sort_buttons:active {
    color: black;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 324px;
    position: relative;
}

.photo-container img {
    position: absolute;
    width: 224px;
    height: 224px;
    object-fit: cover;
}

.photo-container img:nth-child(3) {
    transform: translate(-50px, -50px);
}

.photo-container img:nth-child(1) {
    transform: translate(50px, 50px);
}

.badge {
    background-color: #6c757d !important;
}


#header {
    overflow: hidden;
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: white;
    z-index :200;
}

#content {
    position: relative;
    margin-top:108px;
    margin-bottom:60px;
   /* top: 107px;
    bottom: 59px;*/

}

#footer {
    overflow: hidden;
    position: fixed;
    height: auto;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    background-color: white;
    z-index: 200;
}

















/*#body {

}

#header {
    position: fixed;
    height: 107.8px;
    width: 100%;
    box-sizing: border-box;
}

#content {
    overflow-y: scroll;
    position: relative;
    top: 108px;*/
    /*bottom: 65px;*/
    /*left: 0;
    right: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: calc(100vh - 167.4px);
}

#footer {
    position: fixed;*/
    /*height: 60px;
    width: 100%;
    box-sizing: border-box;*/
/*}*/
